body {
    background-color: antiquewhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.alert {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.alert-danger {
    color: red;
}

.menu {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 13px;
}
    .menu li {
        padding: 0 10px;
        list-style: none;
    }
    .menu a {
        text-decoration: none;
        color: black;
    }
    .menu a:hover {
        color: rgb(41, 41, 41);
    }

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
}

.input, .btn {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 300px;
    height: 15px;
    border: none;
    padding: 10px;
    margin: 10px;
}

.btn {
    height: auto;
}

#logout-btn {
    width: auto;
    margin: 0 10px;
    padding: 5px;
}

.btn-sub {
    background-color: rgb(96, 197, 96);
}
    .btn-sub:hover {
        color: white;
        background-color: rgb(53, 110, 53);
        cursor: pointer;
    }

/* INDEX */

.index-photo {
    width: 900px;
    height: 500px;
    background-image: url('https://promstellage.ru/images/blog/vidy-skladov-01.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

/* CATALOG */

.catalog {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 1300px;
    height: auto;
}

.catalog-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: auto;
    margin: 20px;
}

.catalog-card span {
    padding: 3px 0;
}

.catalog-head {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: 250px;
    height: 300px;
}

.catalog-head span {
    width: 250px;
}

.catalog-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 250px;
}

.img-prod {
    width: 250px;
    height: 250px;
    display: flex;
    align-items: flex-end;
}

#cart-btn {
    margin: 10px 0;
    width: 100%;
    background-color: rgb(169, 226, 152);
}

#cart-btn:hover {
    color: white;
    background-color: rgb(106, 151, 93);
    cursor: pointer;
}